
/* Setting fonts, text color and section size for main body sections of the webpage*/

html, body {
    font-family: 'Libre Franklin', sans-serif;
    height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.logo {
    font-family: 'Black Ops One', cursive;
    color: #152951;
  }

.dark_section {
    height:80vh;
    width: 100vw;
    padding: 25px;
    background-color: #152951;
}

.section {
    padding: 25px;
}

.section_content {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 110%;
}





/* Jumbotron specific formatting */
  
.jumbotron {
    background: url("pics/tools.jpg") no-repeat center center;
    background-size: cover;
    min-height: 700px;
    font-weight: bold;
    margin-bottom: 0px;
  }

#jumbotron_content {
    margin-top: 120px;
}

.jumbotron p {
    font-size: 120%;
}

.jumbotron .logo {
    font-size: 250%;
}



/* ------------------------------------------------------------------------------------------ */


/* Re-useable elements/class styles */

.button {
    background-color: #152951;
    border-color: #152951;
}

.button:hover {
    background-color: #00e6e6;
    border-color: #00e6e6;
    color: #152951;
}

.has_border {
    border: 1px solid black;
    margin-left: 20px;
    padding:20px;
    width: 45vw;
    background-color: white;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

.dark_section_title {
    color: #00e6e6;
    font-weight: bold;
    font-size: 200%;
    padding: 20px;
}

.light_section_title {
    color: #152951;
    font-weight: bold;
    font-size: 200%;
    padding: 20px;
}

/* ------------------------------------------------------------------------------------------ */

/* Navbar specific formatting */

.navbar .logo {
    font-size: 200%;
    color: #152951;
}

#contact a {
    font-size: 120%;
    color: #152951;
}

#contact a:hover {
    color: #00e6e6;
}

/* ------------------------------------------------------------------------------------------ */

/* Additional formatting */

#business .has_border {
    margin: auto;
    margin-top: 50px;
}

#business .button {
    margin: 15px;
}

.card img {
    height: 300px;
}

.card {
    box-shadow: 5px 5px 10px;
} 

#our_team {
    margin-top: 20px;
    text-align: center;
}

#our_team .card {
    margin: auto;
}


/* ------------------------------------------------------------------------------------------ */


/* Contact Page */

#location {
    position: absolute;
    background-color: #152951;
    color: white; 
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 120%;
    width: 30%;
    height: 35%;
    margin-left: 20%;
    margin-top: 15%;
    text-align: center;
    padding: 60px;
    border-radius: 5px;
}



.contact_form {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 120%;
    color: #152951;
    background-color: white;
    box-shadow: 0px 0px 10px;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    float: right;
    padding: 60px;
    padding-left: 100px;
    border-radius: 5px;
}

.contact_form .logo {
    font-size: 170%
}

.contact_form .input {
    margin: 10px;
    border: none;
    border-bottom: 1px solid #152951;
    outline: none;
}

.contact_form textarea {
    min-height: 120px;
}

.contact_form .button {
        background-color: #152951;
        border-color: #152951;
        margin: 10px;
}

.contact_form .button:hover {
    background-color: #00e6e6;
    border-color: #00e6e6;
    color: #152951;
}

.contact_form .link {
    color: #152951;
}

.contact_form a:hover {
    color: #00e6e6;
    text-decoration: none;
}


.help_center_title {
    font-weight: bold;
    font-size: 150%;
}

#help_center p {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}


  